.results-container {
  max-height: calc(100vh - 31rem);
  box-shadow: 0 0 2rem rgba(0,0,0,.075);
  border: var(--item-border);
  overflow-y: scroll;
  margin-top: 1.2rem;
  margin-bottom: var(--spacing);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  border-radius: .3rem;
}
.results-header {
  display: flex;
  justify-content: space-evenly;
}
.icon-key i {
  padding-right: .3rem;
}
.results-item {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  min-height: 3.5rem;
  padding: .6rem 1rem; /* 1.6rem */
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-left: 2px solid var(--sidebar-highlight);
  cursor: pointer;
  /* for accordian */
  overflow: hidden;
  max-height: 7.9rem;
}
.results-item.result-open {
  max-height: initial;
  overflow: initial;
  box-shadow: inset 0 0 1.6rem rgba(0,0,0,.08);
  border-left: 4px solid red;
}
.results-item:first-of-type {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.results-item:first-of-type {
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}
.results-item-icon-container {
  display: flex;
  flex-direction: column;
}
.results-item-icon {
  font-size: 2.2rem;
  margin: .3rem 0;
}
/* add colors to icons */
.fa-seedling {
  color: green;
}
.fa-building {
  color: rgba(0,0,0,.6);
}
.fa-question {
  color: lightcoral;
}
.results-item-details {
  flex: 1;
  padding-left: .6rem;
}
.results-item-stats {
  display: flex;
  flex-direction: column;
  text-align: right;
}
