:root {
  --sidebar-width: 40rem; /* total sidebar width, can make a % too */
  --spacing: 0.6rem;
  --sidebar-bg-color: #F5F5F5;
  --sidebar-active-color: #fff;
  --sidebar-highlight: red;
  --sidebar-highlight2: rgba(255, 0, 0, 0.822);
  --item-border: 1px solid rgba(0,0,0,.16);
}
